* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.input_text,
.submit {
  border: none;
  padding: 5px;
}
.main {
  /* background-color: burlywood; */
  width: 300px;
  height: 350px;
  margin-top: 50px;
  background-color: crimson;
  text-align: center;
  border-radius: 25px;
  padding-top: 50px;
}
.content {
  text-align: center;
}
.image {
  background-image: url("https://freepngimg.com/thumb/weather/23793-9-weather-photos.png");
  width: 300px;
  height: 250px;
  text-align: center;
  word-wrap: normal;
}
